
/* ---------------------

   General document styles.
   
----------------------- */
body * {
	box-sizing: border-box;
}
body {
	background-color: #6F6D6B;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---------------------

   Menu header bar and menu item.
   
----------------------- */
.menu-container-bar {
	position: absolute;
	top: 0;
	left: 0;

	background-color: #111010;
	border-bottom: 2px solid #222120;
	display: block;
	height: 40px;
	overflow: visible;
	width: 100%;
	z-index: 1;
}

.menu-button {
	border-top: 2px solid #222120;
	border-right: 2px solid #222120;
	border-left: 2px solid #222120;
	color: #c15506;
	display: inline-block;
	height: 40px;
	padding: 8px;
	text-align: center;
	width: 40px;
}

.menu-button i {
	background: url('../img/menuButton_hamburgerIcon_toggle.png') no-repeat 0 0 transparent;
	display: inline-block;
	height: 20px;
	overflow: hidden;
	width: 20px;
}

.menu-button:hover i {
	background-position: 0 -20px;
}


/* ---------------------

   Actual menu styling
   
----------------------- */
.menu-button ul {
	position: absolute;
	left: 0;
	top: 40px;

	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 280px;
}

.menu-button:hover>ul,
.menu-button ul:hover {
	display: inline-block;
}

.menu-button ul li {
	position: relative; /* For `absolute` positioned childMenus. */

	background-color: #111010;
	border-top: none;
	border-right: 2px solid #222120;
	border-bottom: 2px solid #222120;
	border-left: 2px solid #222120;
	display: inline-block;
	height: 40px;
	width: 280px;
}

.menu-button ul li:first-child {
	border-top: 2px solid #222120;
	height: 42px;
}

.menu-button ul li {
	width: 100%;
}

.menu-button ul li ul {
	position: absolute;
	left: 100%;
	top: -2px; /* Account for border */
}

/* ---------------------

   Style menu anchors,
   and on-hover behaviors

----------------------- */
.menu-button ul li a {
  	transition: background-color 0.5s ease,
  				color 0.5s ease;

	color: inherit;
	cursor: default;
	display: inline-block;
	padding: 9px 0 0 9px;
	text-decoration: none;
	height: 38px;
	width: 100%;
}

.menu-button ul li:hover>a {
	background-color: #171615;
	color: #dcc296;
}
.menu-button ul li a:active {
	/* Give a little feedback on click */
	background-color: #3D3C3A;
}

.menu-button ul li .childMenuMark {
	position: absolute;
	right: 10px;
	top: 10px;

	background: url('../img/childMenuMark_toggle.png') no-repeat 0 0 transparent;
	height: 20px;
	width: 12px;
}

.menu-button ul li:hover > .childMenuMark {
	background-position: 0 -20px;
}

/* ---------------------

   Establish on-hover visibility
   of menu items.
   
----------------------- */
.menu-button ul li ul,
.menu-button ul li ul li ul {
	display: none;
}

.menu-button ul li:hover>ul,
.menu-button ul li ul:hover {
	display: inline-block;
}

#hash-change-notifier {
	position: relative;
	top: 450px;

	color: #807D79;
	font-size: 38px;
	font-weight: 700;
	text-align: center;
	width: 100%;
}